@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}


html {
    font-family: 'Avenir Next';
}

body {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#sentence-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: gray;
    font-family: 'Avenir Next';
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    z-index: 2;
}

#question-text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

h3 {
    font-size: 45px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin-top: 40px;
}

#background {
    display: block;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

#image-div {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    z-index: 0;
    opacity: 0.5;
    /*visibility: hidden;*/
}

#target-div {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    z-index: 1;
    visibility: hidden;
}

#icon-div {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    z-index: 2;
    cursor: pointer;
    visibility: hidden;
}

#tooltip {
    position: absolute;
    width: 20%;
    height: 40%;
    visibility: visible;
    background: #dddddd;
    z-index: 3;
    visibility: hidden;
    opacity: 0.8;
}

#selected-div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-color: red;
    border-style: solid;
    z-index: 4;
    visibility: hidden;
    cursor: pointer;
}

#detailed-image {
    
}

/*.block {
    float: left;
    width: 50%;
    margin-top: 70px;
}*/

#image canvas {
    margin: 0 auto;
    display: block;
    background-color: rgba(255, 255, 255, 0);
}

#target canvas {
    margin: 0 auto;
    display: block;
    background-color: rgba(255, 255, 255, 0);
}

#icon-canvas {
    margin: 0 auto;
    display: block;
    background-color: rgba(255, 255, 255, 0);
}

.fixed {
    position: fixed;
    bottom: 50px;
    right: 50%;
    margin-right: -92px;
    padding: 10px 20px;
    text-align: center;
}

.fixed i {
    font-size: 45px;
}

.fixed {
    color: #ffffff;
}

.fixed i {
    color: #cccccc;
    margin-bottom: 10px;
    display: block;
}

.fixed a {
    text-decoration: none;
    color: deepskyblue;
}

.fixed a:hover {
    color: #ffffff;
}
